@model List<ApplicationUserRole> 

@if (TempData["succeed"] != null) //Displaying dynamic success messages using TempData in views.
    {
        <h2 style="color:green">@TempData["succeed"]</h2>
    }


<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1> User page </h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Role Name
                </th>
                <th>
                    
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var UserRole in Model)
            { 
                <tr>
                    <td>@UserRole.Id</td>
                    <td>@UserRole.UserId</td>
                    <td>@UserRole.RoleId</td>

                    <td>
                        <a asp-controller="UserRole" asp-action="Update" asp-route-id="@UserRole.Id" type="button" class="btn btn-success" style="width:150px">Update</a>
                    </td>
                    <td>
                        <a asp-controller="UserRole" asp-action="Delete" asp-route-id="@UserRole.Id" type="button" class="btn btn-danger" style="width:150px">Delete</a>
                    </td>
                    
                </tr>
            }
        </tbody>

    </table>  

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="User" asp-action="Create" class="btn btn-lg btn-primary">Create a New User</a>
        </div>
    </div>


</div>