@model InventoryManagementSystem.Models.ViewModels.ProductsViewModel
@using InventoryManagementSystem.Utility


@if (TempData["succeed"] != null) //Displaying dynamic success messages using TempData in views.
    {
        <h2 style="color:green">@TempData["succeed"]</h2>
    }


<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1> Products page </h1>
        </div>
    </div>

    <form method="get" asp-controller="Products" asp-action="Index">
        <div class="row mb-3">
            <div class="col">
                <input asp-for="Filter.ProductName" placeholder="Product Name" class="form-control" value="@Model.Filter?.ProductName" />
            </div>
            <div class="col">
                <input asp-for="Filter.SerialNumber" placeholder="Serial Number" class="form-control" value="@Model.Filter?.SerialNumber" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>

                <th>
                    Product Name
                </th>

                <th>
                    Brand
                </th>

                <th>
                    Serial Number
                </th>

                <th>
                    Warranty Period
                </th>

                <th>
                    Price
                </th>

                <th>
                    Category
                </th>

                @if (User.IsInRole(UserRole.Role_Admin))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var products in Model.Products)
            { 
                <tr>
                    <td>@products.Id</td>
                    <td>@products.ProductName</td>
                    <td>@products.Brand</td>
                    <td>@products.SerialNumber</td>
                    <td>@products.WarrantyPeriod</td>
                    <td>@products.Price</td>
                    <td>@products.Category.Name</td>

                    @if (User.IsInRole(UserRole.Role_Admin))
                    {
                        <td class="text-center">
                            <a asp-controller="Products" asp-action="CreateUpdate" asp-route-id="@products.Id" type="button" class="btn btn-success" style="width:150px">Update</a>
                        </td>
                        <td class="text-center">
                            <a asp-controller="Products" asp-action="Delete" asp-route-id="@products.Id" type="button" class="btn btn-danger" style="width:150px">Delete</a>
                        </td>
                    }
                   
                    
                </tr>
            }
        </tbody>

    </table>  

    @if (User.IsInRole(UserRole.Role_Admin))
    {
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Products" asp-action="CreateUpdate" class="btn btn-lg btn-primary">Create a New Product</a>
            </div>
        </div>
    }
</div>