@model List<Inventory> 

@if (TempData["succeed"] != null) //Displaying dynamic success messages using TempData in views.
    {
        <h2 style="color:green">@TempData["succeed"]</h2>
    }


<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1> Inventory page </h1>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var Inventory in Model)
            { 
                <tr>
                    <td>@Inventory.Id</td>
                    <td>@Inventory.Name</td>
                    <td>
                        <a asp-controller="Inventory" asp-action="Update" asp-route-id="@Inventory.Id" type="button" class="btn btn-success" style="width:150px">Update</a>
                    </td>
                    <td>
                        <a asp-controller="Inventory" asp-action="Delete" asp-route-id="@Inventory.Id" type="button" class="btn btn-danger" style="width:150px">Delete</a>
                    </td>
                    
                </tr>
            }
        </tbody>

    </table>  

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Inventory" asp-action="Create" class="btn btn-lg btn-primary">Create a New Product</a>
        </div>
    </div>


</div>